/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main container styles */
.container {
    background: #171717;
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}

/* Header styles */
.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search input styles */
input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

/* Weather body styles */
.weather__body {
    text-align: center;
    margin-top: 3rem;
}

/* Weather info card styles */
.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

/* Responsive styles */
@media(max-width: 936px){
    .container {
        width: 90%;
    }
    .weather__header {
        flex-direction: column;
    }
    .weather__units {
        margin-top: 1rem;
    }
}

@media(max-width: 400px){
    .weather__info {
        grid-template-columns: none;
    }
}
